.row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding-left: 20px;
  padding-right: 10px;
  background-color: rgb(82, 80, 80);

}

.column1 {
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #E9E5DD;
  padding: 10px;
  grid-template-columns: 1fr 3fr;

}

.grid-item {
  background-color: #3c4245;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.canvas-item {
  padding: 8px;
  text-align: center;
  font-size: 14px;

}


.item2 {
  display: grid;
  height: 80vh;
  margin: 0 auto;
  width: 50vw;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1
}


@media (min-width: 320px) and (max-width: 480px) {

  .item2 {

    height: 80vh;
    width: 80vw;

  }

}

.PrivateTabIndicator-colorSecondary-234 {
  background-color: #00c9b7;
}

.PrivateTabIndicator-root-232.PrivateTabIndicator-colorSecondary-234.MuiTabs-indicator {
  background-color: #00c9b7;

}


.MuiDrawer-root {
  background-color: #3c4245;

}


.MuiPaper-elevation0.MuiDrawer-paper.makeStyles-drawerPaper-131.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft {
  background-color: #3c4245;

}

.makeStyles-content-202 {
  background-image: url('../Assets/background.png');
}

.MuiBox-root.MuiBox-root-237 {
  padding-top: 0px;
}

.MuiBox-root.MuiBox-root-238 {
  padding-top: 0px;
}

.MuiBox-root.MuiBox-root-239 {
  padding-top: 0px;
}

.MuiBox-root.MuiBox-root-240 {
  padding-top: 0px;
}

.uploadcare--widget__button_type_open {
  background: transparent;
  border: 1px solid #ffe837;
}

.uploadcare--widget__button:hover {
  background-color: #000;
}

/* .uploadcare--widget__button, .uploadcare--widget__button:hover {
	padding: 20px;
	background-color: ;
	border: 3px dashed #2c003a;
	border-radius: 0;
	font-family: Sans-serif;
	font-weight: 800;
}

.uploadcare--widget__button:hover {
	background-color: #000; */