/* .templateHolder {
    width: 80vw;
    height: 80vh;
    text-align: center;
    padding-top: 100px;
    background-color: #E9E5DD 
}*/
/* .container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin:auto;
    height: 80vh;
    background-color: #696464
} */
